<h3>Signal Messenger Configuration</h3>

<h4>Connection</h4>

<form class="form-horizontal">
	<div class="control-group">
		<div class="control-group" title="{{ _('Enable Notifications') }}">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.plugins.signalclirestapi.enabled" /> {{ _('Enable Notifications') }}
				</label>
			</div>
		</div>
		
		<div class="control-group" title="{{ _('REST API URL') }}">
			<label class="control-label">{{ _('REST API URL') }}</label>
			<div class="controls">
				<input type="text" class="input-block-level" data-bind="value: settings.plugins.signalclirestapi.url" id="urlInput">
			</div>
		</div>

		<div class="control-group" title="{{ _('Sender Number') }}">
			<label class="control-label">{{ _('Sender Number') }}</label>
			<div class="controls">
				<input type="text" class="input-block-level" data-bind="value: settings.plugins.signalclirestapi.sendernr" id="senderInput">
			</div>
		</div>

		<div class="control-group" title="{{ _('Recipients') }}">
			<label class="control-label">{{ _('Recipients (use comma to specify multiple recipients)') }}</label>
			<div class="controls">
				<input type="text" class="input-block-level" data-bind="value: settings.plugins.signalclirestapi.recipientnrs" id="recipientsInput">
			</div>
		</div>
		
 		<div class="control-group">
        	<div class="controls">
				<button class="btn btn-primary" data-bind="click: testMessage" data-toggle="tooltip" data-placement="bottom" title="Click here to send a test message">{{ _('Test') }} <i class="icon-spinner icon-spin" id="testMessageButtonLoadingSpinner"></i></button><span id="testMessageInfo"></span>
			</div>
		</div>
		
	</div>
</form>

<h4>Events</h4>
<p>Select for which event you want to receive Signal Messages.</p>
<br>
<br>
<form class="form horizontal">	
	<div class="control-group">
		<div class="control-group" title="{{ _('Print Started') }}">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.plugins.signalclirestapi.printstartedevent" /> {{ _('Print Started') }}
				</label>
			</div>
		</div>
		<p>Supported Tags: <code>{filename}</code></p>
		<div class="control-group" title="{{ _('Body:') }}">
			<label class="control-label">{{ _('Body:') }}</label>
			<div class="controls">
				<input type="text" class="input-block-level" data-bind="value: settings.plugins.signalclirestapi.printstartedeventtemplate">
			</div>
		</div>
	</div>
</form>
<hr/>


<form class="form horizontal">	
	<div class="control-group">
		<div class="control-group" title="{{ _('Print Done') }}">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.plugins.signalclirestapi.printdoneevent" /> {{ _('Print Done') }}
				</label>
			</div>
		</div>
		<p>Supported Tags: <code>{user}</code>, <code>{host}</code>, <code>filename</code>, <code>elapsed_time</code></p>
		<div class="control-group" title="{{ _('Body:') }}">
			<label class="control-label">{{ _('Body:') }}</label>
			<div class="controls">
				<input type="text" class="input-block-level" data-bind="value: settings.plugins.signalclirestapi.printdoneeventtemplate">
			</div>
		</div>
	</div>
</form>
<hr/>

<form class="form horizontal">	
	<div class="control-group">
		<div class="control-group" title="{{ _('Print Failed') }}">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.plugins.signalclirestapi.printfailedevent" /> {{ _('Print Failed') }}
				</label>
			</div>
		</div>
		<p>Supported Tags: <code>{user}</code>, <code>{host}</code>, <code>filename</code>, <code>elapsed_time</code>, <code>reason</code></p>
		<div class="control-group" title="{{ _('Body:') }}">
			<label class="control-label">{{ _('Body:') }}</label>
			<div class="controls">
				<input type="text" class="input-block-level" data-bind="value: settings.plugins.signalclirestapi.printfailedeventtemplate">
			</div>
		</div>
	</div>
</form>
<hr/>

<form class="form horizontal">	
	<div class="control-group">
		<div class="control-group" title="{{ _('Print Paused') }}">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.plugins.signalclirestapi.printpausedevent" /> {{ _('Print Paused') }}
				</label>
			</div>
		</div>
		<p>Supported Tags: <code>{user}</code>, <code>{host}</code>, <code>filename</code></p>
		<div class="control-group" title="{{ _('Body:') }}">
			<label class="control-label">{{ _('Body:') }}</label>
			<div class="controls">
				<input type="text" class="input-block-level" data-bind="value: settings.plugins.signalclirestapi.printpausedeventtemplate">
			</div>
		</div>
	</div>
</form>
<hr/>

<form class="form horizontal">
        <div class="control-group">
                <div class="control-group" title="{{ _('Filament Change') }}">
                        <div class="controls">
                                <label class="checkbox">
                                        <input type="checkbox" data-bind="checked: settings.plugins.signalclirestapi.filamentchangeevent" /> {{ _('Filament Change') }}
                                </label>
                        </div>
                </div>
                <p>Supported Tags: <code>{user}</code>, <code>{host}</code></p>
                <div class="control-group" title="{{ _('Body:') }}">
                        <label class="control-label">{{ _('Body:') }}</label>
                        <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: settings.plugins.signalclirestapi.filamentchangeeventtemplate">
                        </div>
                </div>
        </div>
</form>
<hr/>

<form class="form horizontal">	
	<div class="control-group">
		<div class="control-group" title="{{ _('Print Resumed') }}">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.plugins.signalclirestapi.printresumedevent" /> {{ _('Print Resumed') }}
				</label>
			</div>
		</div>
		<p>Supported Tags: <code>{user}</code>, <code>{host}</code>, <code>filename</code></p>
		<div class="control-group" title="{{ _('Body:') }}">
			<label class="control-label">{{ _('Body:') }}</label>
			<div class="controls">
				<input type="text" class="input-block-level" data-bind="value: settings.plugins.signalclirestapi.printresumedeventtemplate">
			</div>
		</div>
	</div>
</form>
<hr/>

<form class="form horizontal">	
	<div class="control-group">
		<div class="control-group" title="{{ _('Print Cancelled') }}">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.plugins.signalclirestapi.printcancelledevent" /> {{ _('Print Cancelled') }}
				</label>
			</div>
		</div>
		<p>Supported Tags: <code>filename</code></p>
		<div class="control-group" title="{{ _('Body:') }}">
			<label class="control-label">{{ _('Body:') }}</label>
			<div class="controls">
				<input type="text" class="input-block-level" data-bind="value: settings.plugins.signalclirestapi.printcancelledeventtemplate">
			</div>
		</div>
	</div>
</form>
<hr/>


<h4>Attachments</h4>
<form class="form horizontal">
	<div class="control-group">
		<div class="control-group" title="{{ _('Attach Snapshots') }}">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.plugins.signalclirestapi.attachsnapshots" id="attachSnapshotsInput" /> {{ _('Attach Snapshots') }}
				</label>
			</div>
		</div>
	</div>
</form>

<h5>Grouping</h5>
<p>When enabled, messages will be grouped as specified</p>
<form class="form horizontal">
	<div class="control-group">
		<div class="control-group" title="{{ _('When enabled, messages will be grouped as specified') }}">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.plugins.signalclirestapi.creategroupforeveryprint" /> {{ _('A new Signal Messenger group for every print is created') }}
				</label>
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.plugins.signalclirestapi.creategroupbyprinter" /> {{ _('Messages are grouped by source machine / printer') }}
				</label>
			</div>
		</div>
	</div>
</form>

<h4>Print Progress</h4>
<p>When enabled, you will receive a status update every 10% of the print job.</p>
<form class="form horizontal">	
	<div class="control-group">
		<div class="control-group" title="{{ _('Send Print Progress') }}">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.plugins.signalclirestapi.sendprintprogress" /> {{ _('Send Print Progress') }}
				</label>
			</div>
		</div>
		<p>Supported Tags: <code>host</code>, <code>filename</code>, <code>progress</code></p>
		<div class="control-group" title="{{ _('Body:') }}">
			<label class="control-label">{{ _('Body:') }}</label>
			<div class="controls">
				<input type="text" class="input-block-level" data-bind="value: settings.plugins.signalclirestapi.sendprintprogresstemplate">
			</div>
		</div>
	</div>
</form>
<hr/>
